.ant-layout {
  min-height: 100%;
}
.ant-avatar > img {
  object-fit: cover;
}
.login-form {
  max-width: 500px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}

.login-card {
  max-width: 800px;

  /* margin-top: 10%; */
  margin: auto;
  background: #fff;
}

body {
  height: 100%;
  margin: 0;
}

.align-center {
  text-align: center;
  /* float:left; */
}

div#root {
  height: 100%;

  /* float:left; */
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.margin-1 {
  margin: 1rem;
}
.cardColor a {
  color: rgba(0, 0, 0, 0.65) !important;
}

.margin-sm {
  margin: 3px;
}
.avatarF .ant-avatar {
  width: 40px !important;
  height: 40px !important;
}

.padding-1 {
  padding: 1rem;
}

.align-right {
  text-align: right;
  float: right;
}

.mainwidth {
  width: 1200px;
  margin: auto;
}

.margin-author-img {
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  object-fit: cover;
}

.margin-t-b {
  margin: 10px;
}

.margin-t {
  margin-top: 10px;
}

.padding-t {
  padding-top: 10px;
}

.margin-l-sm {
  margin-left: 5px;
}

.margin-l {
  margin-left: 10px;
}

.author-popover {
  text-align: center;
  max-width: 400px;
  /* float:left; */
}
.author-popover-1 {
  text-align: left;
  width: 300px;
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.topnav {
  color: #ffffff;
}

.align-left {
  text-align: left;
}

.home-tab {
  text-align: center;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: visible;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.carousel-image {
  width: 100%;
  height: 223px;
  cursor: pointer;
}
.carousel-image:hover {
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16),
    0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
}

.ant-carousel .slick-list {
  height: 300px;
}

.logo {
  color: #ffffff;
}

.font-sm {
  font-size: 0.9em;
}

.task-popover {
  text-align: left;
  max-width: 100%;
}

.task-item {
  border: 1px solid #cccccc;
  padding: 1rem;
  margin-bottom: 5px;
}

.gap {
  margin-left: 10px;
  margin-right: 10px;
}
.yanzheng {
  display: flex;
}

.comment {
  padding: 1rem;
  background: #ddd;
  margin-top: 10px;
}
.thumbnail-img {
  max-width: 80px;
  margin: 5px;
}

.recharge-gap {
  margin-bottom: 20px;
}

.recharge-period:hover {
  background: #55cfcd;
  cursor: pointer;
}

.demo-infinite-container {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  overflow: auto;
  padding: 0px 1px;
  height: 100%;
}
.demo-loading-container {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}
/* [data-theme="dark"] .demo-infinite-container {
  border: 0px solid #303030;
} */

.forgot-password {
  max-width: 400px;
  margin: auto;
}

.img-caption {
  position: absolute;
  bottom: 40px;
  right: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  font-size: 0.9em;
}
.ant-menu {
  background: none;
  float: right;
  color: #ffffff;
}

.ant-layout-header {
  background: url("./img/WechatIMG1209.jpeg");
  height: 100%;
  margin-bottom: 20px;
}

.ant-input-search {
  padding-top: 15px;
}
.ant-menu-horizontal {
  border-bottom: 0px solid;
}
.ant-menu-item-selected {
  border-bottom: 0px solid;
}
.ant-menu-item:hover {
  border-bottom: 0px solid;
}
.header-nav {
  padding-top: 2%;
  padding-bottom: 2%;
}
.ant-menu-submenu-title {
  font-size: 1.5rem;
  padding: 0 10px;
  background: #1890ff;
}
.buttom-click {
  padding-left: 60%;
}
.icon-down {
  position: absolute;
  top: 8px;
  right: 1px;
}
.iconShow {
  margin-right: 10px;
  cursor: pointer;
}

.listAuthor {
  width: 100%;
  margin-left: 1px;
}

.showThree {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.more {
  cursor: pointer;
  color: #1890ff;
}
.imgList {
  width: 400px;
}
.imgListFour {
  width: 300px;
}
.detail {
  max-height: 300px;
  overflow-y: scroll;
}
.div-left {
  width: 300px;
  height: 120px;
  /* border:1px solid #000; */
  float: rigth;
}

.ant-list-item {
  width: 100%;
  margin-left: 1px;
}
.list-user {
  width: 100%;
  height: 100%;
  margin: auto;
}
#zmageControl {
  background-color: #fff !important;
}
